* {
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

body,
ul,
li {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3 {
	color: #4e4e4e;
}

body {
	background-color: #f7f7f7;
}

.wrapper {
	width: 96%;
	padding: 0 2%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-color: #e5e5e5;
	padding: 20px 0;
}

header h1 {
	margin: 0;
	text-indent: -10000px;
	background: url(images/logo.jpg) no-repeat;
	width: 134px;
}

.row {
	display: flex;
}

/* margin-left:auto sets the nav to the right side of the screen when using flexbox */
nav {
	align-self: center;
	margin-left: auto;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

nav ul li {
	margin-left: 20px;
	list-style-type: none;
}

nav li a {
	text-decoration: none;
	color: #4e4e4e;
	text-transform: uppercase;
	font-weight: bold;
}

nav li a:hover {
	color: #202020;
}

.active {
	color: #1abb9c;
}

.banner {
	max-height: 500px;
	overflow: hidden;
}

.banner img {
	width: 100%;
}

.info {
	margin-top: 60px;
}

.icons {
	justify-content: space-evenly;
}

.icons div {
	width: 23%;
	text-align: center;
	padding: 1%;
	line-height: 1.6em;
}

.works {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 2px solid #e4e4e4;
}

.works h2 {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 40px;
}

.work-exs {
	justify-content: space-around;
}

.work-exs div {
	width: 32%;
}

.work-exs div img {
	width: 100%;
}

.work-exs h3 {
	margin-bottom: 0;
}

.titles {
	color: #bbb;
	font-size: 14px;
	margin-top: 5px;
}

.work-exs p {
	line-height: 1.6em;
}

.quote {
	margin: 60px auto 0;
	padding: 40px 20%;
	background: url(images/quote.jpg) no-repeat center 20px;
	background-color: #efefef;
	color: #4e4e4e;
}

.quote blockquote {
	width: 60%;
	margin: 30px auto 0;
	font-size: 20px;
	line-height: 1.6em;
	text-align: center;
}

footer {
	background: #202020;
	padding: 30px 0;
	border-top: 10px solid #151515;
}

footer h3 {
	margin: 0;
	color: #555;
	text-transform: uppercase;
	font-size: 18px;
}

.footer-row {
	justify-content: space-between;
}

footer li {
	list-style-type: none;
	color: #aaa;
	width: 80%;
	margin: 20px 0;
	font-size: 14px;
	line-height: 1.6em;
}

.loc {
	padding-left: 20px;
	background: url(images/location.jpg) no-repeat left 6px;
	margin-bottom: 5px;
}

.pad {
	padding-left: 20px;
	margin-top: 5px;
}

.phone {
	padding-left: 20px;
	background: url(images/phone.jpg) no-repeat left 6px;
}

.email {
	padding-left: 20px;
	background: url(images/email.jpg) no-repeat left 6px;
}

.twitter {
	padding-left: 20px;
	background: url(images/twitter.jpg) no-repeat left 6px;
}

.ftr-sections {
	flex: 1 0 25%;
}

.copyright {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 2px solid #333;
	color: #999;
	font-size: 14px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
	.icons {
		flex-wrap: wrap;
	}

	.icons div {
		width: 40%;
		padding: 0 5%;
		margin: 20px 0;
	}

	.footer-row {
		flex-wrap: wrap;
	}
	.ftr-sections {
		flex: 1 0 50%;
		margin-top: 10px;
	}

	.quote {
		padding: 40px 5%;
	}
}

@media screen and (max-width: 768px) {
	.nav-row {
		display: block;
	}

	.logo {
		margin: 0 auto 15px;
	}

	header nav li {
		margin-left: 0;
		width: 16.6%;
		text-align: center;
		font-size: 14px;
	}

	.work-exs {
		flex-wrap: wrap;
	}
	.works div {
		flex: 1 0 60%;
		margin: 30px 10%;
	}

	.works h2 {
		text-align: center;
	}
}
